.title {
  text-align: center;
  font-size: 2rem;
  background-color: bisque;
  padding: 0.3rem;
  border-radius: 1rem;
}

aside {
  display: flex;
  flex-direction: row;

}

button {
  border: solid salmon;
}
